body {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 25px;
}

.sidebar ul {
    list-style: none;
    margin: 25px 10px;
    padding: 0;
}

.sidebar h4 {
    margin-top: 50px;
}

.table-row:hover {
    background-color: #337ab7;
    color: #ffffff;
    cursor: pointer;
}

.field-name-bold {
    font-weight: bold;
}

.book-description {
    margin-top: 25px;
    text-align: justify;
}

.books-list {
    margin-top: 25px;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
