<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7">
            <h1>Add new book</h1>

            <hr>

            <div ng-show="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>

            <div ng-show="successMessage" ng-bind-html="successMessage" class="alert alert-success" role="alert"></div>

            <form ng-show="showForm" class="form-horizontal" data-ng-submit="addBook()">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-3 control-label">Title:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" maxlength="255" ng-model="bookToAdd.title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Authors:</label>
                    <div class="col-sm-9">
                        <ui-select multiple ng-model="authors.selected" theme="bootstrap" ng-disabled="disabled" style="width: 100%;" required="required">
                            <ui-select-match placeholder="Authors" style="padding-left: 8px;">{{$item.name}} ({{$item.birthDate | date: 'yyyy'}} - {{$item.deathDate | date: 'yyyy'}})</ui-select-match>
                            <ui-select-choices repeat="author in allAuthors | propsFilter: {name: $select.search, age: $select.search} | orderBy: 'name'">
                                <div ng-bind-html="author.name | highlight: $select.search"></div>
                                <small>
                                    ({{author.birthDate | date: 'yyyy'}} - {{author.deathDate | date: 'yyyy'}})
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSeries" class="col-sm-3 control-label">Series:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputSeries" placeholder="Series" maxlength="255" ng-model="bookToAdd.series">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSeries" class="col-sm-3 control-label">Part:</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="inputSeriesPart" placeholder="Part" min="0" ng-model="bookToAdd.seriesPart">
                    </div>
                    <label for="inputPages" class="col-sm-2 col-sm-offset-1 control-label">Pages:</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="inputPages" placeholder="Pages" min="1" ng-model="bookToAdd.pages" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGenre" class="col-sm-3 control-label">Genre:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputGenre" placeholder="Genre" maxlength="50" ng-model="bookToAdd.genre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLanguage" class="col-sm-3 control-label">Language:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLanguage" placeholder="Language" maxlength="50" ng-model="bookToAdd.language" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPublisher" class="col-sm-3 control-label">Publisher:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher" maxlength="100" ng-model="bookToAdd.publisher" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPublicationDdate" class="col-sm-3 control-label">Publication date:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPublicationDdate" placeholder="Publication date in format: DD-MM-YYYY" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" ng-model="bookToAdd.publicationDate" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputIsbn" class="col-sm-3 control-label">ISBN:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputIsbn" placeholder="ISBN-10 (10 digits)" pattern="[0-9]{10}" ng-model="bookToAdd.isbn" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputIsbn13" class="col-sm-3 control-label">ISBN-13:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputIsbn13" placeholder="ISBN-13 (13 digits)" pattern="[0-9]{13}" ng-model="bookToAdd.isbn13" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-3 control-label">Description:</label>
                    <div class="col-sm-9">
                        <textarea rows="20" class="form-control" id="inputDescription" placeholder="Description" maxlength="3000" ng-model="bookToAdd.description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
