<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7">
            <h1>Add new author</h1>

            <hr>

            <div ng-show="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>

            <div ng-show="successMessage" ng-bind-html="successMessage" class="alert alert-success" role="alert"></div>

            <form ng-show="showForm" class="form-horizontal" data-ng-submit="addAuthor()">
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" maxlength="500" ng-model="authorToAdd.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBirthDate" class="col-sm-3 control-label">Born:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputBirthDate" placeholder="Date of birth in format: DD-MM-YYYY" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" ng-model="authorToAdd.birthDate" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDeathDate" class="col-sm-3 control-label">Died:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputDeathDate" placeholder="Date of death in format: DD-MM-YYYY (optional)" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" ng-model="authorToAdd.deathDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
