<div class="modal-header">
    <h3 class="modal-title">Delete author</h3>
</div>
<div class="modal-body">
    Are you sure you want to delete <strong>{{modalDetails.authorName}}</strong>?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" data-ng-click="deleteAuthor()">Delete</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
