<div class="modal-header">
    <h3 class="modal-title">Delete book</h3>
</div>
<div class="modal-body">
    Are you sure you want to delete <strong>{{modalDetails.bookTitle}}</strong>?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" data-ng-click="deleteBook()">Delete</button>
    <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>
