<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7">
            <h1>Authors</h1>

            <hr>

            <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>

            <div class="alert alert-success" role="alert" ng-show="successMessage">{{successMessage}}</div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Born</th>
                    <th>Died</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tr id="{{author.id}}" class="table-row disable-select" ng-repeat="author in authors | orderBy: 'name'">
                    <td data-ng-click="showAuthor(author)">{{author.name}}</td>
                    <td data-ng-click="showAuthor(author)">{{author.birthDate | date: 'longDate'}}</td>
                    <td data-ng-click="showAuthor(author)">{{author.deathDate | date: 'longDate'}}</td>
                    <td class="text-center">
                        <button data-ng-click="editAuthor(author)" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button data-ng-click="askIfDelete(author)" type="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
