<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7" ng-show="errorMessage">
            <h1>Author</h1>
            <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
        </div>
        <div class="col-md-7" ng-hide="errorMessage">
            <h1>{{author.name}}</h1>

            <p><span class="field-name-bold">Born:</span> {{author.birthDate | date: 'longDate'}}</p>
            <p ng-show="author.deathDate"><span class="field-name-bold">Died:</span> {{author.deathDate | date: 'longDate'}}</p>
            <p class="books-list"><span class="field-name-bold">Books:</span></p>
            <p ng-repeat="book in books | orderBy: 'title'"><a href="#/book/{{book.id}}">{{book.title}}</a></p>
        </div>
    </div>
</div>
