<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7">
            <h1>Books</h1>

            <hr>

            <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>

            <div class="alert alert-success" role="alert" ng-show="successMessage">{{successMessage}}</div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tr id="{{book.id}}" class="table-row disable-select" ng-repeat="book in books | orderBy: 'title'">
                    <td data-ng-click="showBook(book)">{{book.title}}</td>
                    <td data-ng-click="showBook(book)">
                        <span ng-repeat="author in book.authors | orderBy: 'name'">{{author.name}}<span ng-hide="$last">, </span></span>
                    </td>
                    <td class="text-center">
                        <button data-ng-click="editBook(book)" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button data-ng-click="askIfDelete(book)" type="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
