<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7" ng-show="errorMessage">
            <h1>Book</h1>
            <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
        </div>
        <div class="col-md-7" ng-hide="errorMessage">
            <h1>{{book.title}}</h1>

            <p><span class="field-name-bold">Author<span ng-hide="singleAuthor">s</span>:</span> <span ng-repeat="author in book.authors"><a href="#/author/{{author.id}}">{{author.name}}</a><span ng-hide="$last">, </span></span></p>
            <p ng-show="book.series"><span class="field-name-bold">Series:</span> {{book.series}}<span ng-show="book.seriesPart"> #{{book.seriesPart}}</span></p>
            <p><span class="field-name-bold">Genre:</span> {{book.genre}}</p>
            <p><span class="field-name-bold">Language:</span> {{book.language}}</p>
            <p><span class="field-name-bold">Pages:</span> {{book.pages}}</p>
            <p ng-show="book.publisher"><span class="field-name-bold">Publisher:</span> {{book.publisher}}</p>
            <p ng-show="book.publicationDate"><span class="field-name-bold">Publication Date:</span> {{book.publicationDate | date: 'longDate'}}</p>
            <p ng-show="book.isbn"><span class="field-name-bold">ISBN:</span> {{book.isbn}}</p>
            <p ng-show="book.isbn13"><span class="field-name-bold">ISBN-13:</span> {{book.isbn13}}</p>
            <p ng-bind-html="book.description" class="book-description"></p>
        </div>
    </div>
</div>
