<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7">
            <h1>Index</h1>
        </div>
    </div>
</div>
