<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-md-7">
            <h1>Search</h1>

            <hr>

            <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>

            <form ng-show="searchVisible" class="form-horizontal" data-ng-submit="searchBooks()">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-3 control-label">Title:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" maxlength="255" ng-model="searchParams.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAuthor" class="col-sm-3 control-label">Author:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputAuthor" placeholder="Author" maxlength="500" ng-model="searchParams.author">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSeries" class="col-sm-3 control-label">Series:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputSeries" placeholder="Series" maxlength="255" ng-model="searchParams.series">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGenre" class="col-sm-3 control-label">Genre:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputGenre" placeholder="Genre" maxlength="50" ng-model="searchParams.genre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLanguage" class="col-sm-3 control-label">Language:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLanguage" placeholder="Language" maxlength="50" ng-model="searchParams.language">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPublisher" class="col-sm-3 control-label">Publisher:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPublisher" placeholder="Publisher" maxlength="100" ng-model="searchParams.publisher">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPublicationYear" class="col-sm-3 control-label">Publication year:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputPublicationYear" placeholder="Publication year ({{minYear}} - {{maxYear}})" min="{{minYear}}" max="{{maxYear}}" ng-model="searchParams.year">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputISBN" class="col-sm-3 control-label">ISBN:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputISBN" placeholder="ISBN (10 digits)" ng-pattern="/[0-9]{10}/" ng-model="searchParams.ISBN">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputISBN13" class="col-sm-3 control-label">ISBN-13:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputISBN13" placeholder="ISBN-13 (13 digits)" pattern="[0-9]{13}" ng-model="searchParams.ISBN13">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>

            <p ng-hide="searchVisible" class="pull-right"><a href="#/search" data-ng-click="searchVisible = true;">search again</a></p>
            <table ng-hide="searchVisible" class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                </tr>
                </thead>
                <tr class="table-row" ng-repeat="book in books | orderBy: 'title'" data-ng-click="showBook(book)">
                    <td>{{book.title}}</td>
                    <td>
                        <span ng-repeat="author in book.authors | orderBy: 'name'">{{author.name}}<span ng-hide="$last">, </span></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
