<h3>Book Catalog</h3>

<h4>Authors</h4>
<a class="btn btn-default" href="#/add_author" role="button"><span class="glyphicon glyphicon-plus"></span> New</a>
<a class="btn btn-default" href="#/authors" role="button"><span class="glyphicon glyphicon-list"></span> List</a>

<h4>Books</h4>
<a class="btn btn-default" href="#/add_book" role="button"><span class="glyphicon glyphicon-plus"></span> New</a>
<a class="btn btn-default" style="" href="#/books" role="button"><span class="glyphicon glyphicon-list"></span> List</a>
<a class="btn btn-default" style="" href="#/search" role="button"><span class="glyphicon glyphicon-search"></span> Search</a>
